@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --dark-green: #033e05;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Pangolin', sans-serif;
}

body {
    background-color: var(--dark-green);
    color: var(--white);
}

h1 {
    padding-top: 1rem;
    font-size: 3.25rem;
    height: 10vh;
    text-align: center;
}

button {
    color: var(--dark-green);
}

/* Heading */
#logo {
    padding-right: 1%;
    padding-top: 1%;
    height: 3rem;
}

/* Image */
#full-hangman-start {
    margin: 0 auto;
    display: block;
    padding: 3% 0;
    width: 40%;
    max-height: 40vh;
}

/* Word to Guess */
#guessing-letters {
    text-align: center;
    padding: 2% 0;
    font-size: 1.5rem;
    max-height: 10vh;
}

.word-letter {
    display: inline-block;
    text-decoration: underline;
}

/* Game Type Buttons */
#game-type-buttons {
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 1rem 3rem;
    margin: 3%;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5%;
    background-color: var(--white);
    color: var(--dark-green);
}

/* Wrong Answers */
#wrong-answers-printed {
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
    visibility: hidden;
}

/* Keyboard */
#keyboard {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 20vh;
}
  
#keyboard div {
    display: flex;
}
  
.second-row {
    margin: 0.5rem 0;
}
  
.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    background-color: var(--white);
    text-transform: uppercase;
}

/* The Modal*/
#name-input {
    border-color: var(--dark-green);
    border-style: solid;
}

.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: var(--white);
}

.modal-message {
    padding-bottom: 5%;
    font-weight: bold;
}

.modal-content {
    margin: 5% auto;
    text-align: center;
    padding: 5%;
    width: 80%;
    color: var(--dark-green);
}

.submit-button {
    background-color: var(--dark-green);
    border: none;
    color: var(--white);
    padding: 0.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem auto 0;
    border-radius: 5%;
    font-weight: bold;
}

/* leaderboard */
#leaderboard {
    width: 95%;
}

table {
    border-collapse: collapse;
}

.table-font {
    font-size: 1.2rem;
}

th, td {
    border: 2px solid var(--dark-green);
}

#play-again-button {
    text-align: center;
    display: block;
    margin: 3% auto;
}

@media screen and (min-width:768px) {
    #full-hangman-start {
        padding: 1% 0;
        width: 25%;
    }
}

@media screen and (min-width:992px) {
    #full-hangman-start {
        width: 20%;
    }
}