@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --dark-green: #033e05;
    --white: #ffffff;
    --yellow: #e3f906;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Pangolin', sans-serif;
}

body {
    background-color: var(--dark-green);
    color: var(--white);
}

/* Heading */
h1 {
    font-size: 4rem;
    text-align: center;
}

#logo {
    padding-right: 1%;
    padding-top: 1%;
    height: 3rem;
}

/* Image */
#full-hangman-start {
    margin: 0 auto;
    display: block;
    padding: 5% 0; /* 1% for tablet+ */
    width: 50%; /* 25% for tablet+ */
    height: auto;
}

/* Word to Guess */
#guessing-letters {
    text-align: center;
    padding: 3% 0;
    font-size: 1.5rem;
}

.word-letter {
    display: inline-block;
    text-decoration: underline;
}

/* Game Type Buttons */
#game-type-buttons {
    text-align: center;
}

.btn {
    padding: 1rem;
    margin: 3%;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5%;
    background-color: var(--white);
    color: var(--dark-green);
}

/* Keyboard */